<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssg.springboard.mappers.ReplyMapper">
    <insert id="insert">
        <selectKey order="AFTER" keyProperty="rno" resultType="long">
            Select LAST_INSERT_ID()
        </selectKey>

        insert into reply(bno, replyText, replier)
        values (#{bno}, #{replyText}, #{replier})

    </insert>

    <select id="selectOne" resultType="ReplyVO">
        select * from reply where rno = #{rno}
    </select>

    <update id="updateOne">
        update reply set replyText = #{replyText}, updateDate = now() where rno = #{rno}
    </update>

    <delete id="deleteOne">
        delete from reply where rno = #{rno}
    </delete>

    <select id="getReplyList" resultType="ReplyVO">
        select * from reply where bno = #{bno} and rno > 0
        limit #{cri.skip} , #{cri.amount}
    </select>

</mapper>